 /* .material-icons.md-36 {
	font-size: 36px;
	vertical-align: middle;
}

.material-icons.md-30 {
	vertical-align: middle;
}

.material-icons.md-31 {
	vertical-align: bottom;
}

.material-icons.md-10 {
	vertical-align: middle;
	font-size: 18px;
	padding-right: 3px;
}

.text-color {
	color: #b52e06;
}

.launch-size {
	font-size: 15px;
	color: #808080;
}

.trim {
	border: 0;
	padding: 0;
	margin: 0;
}

.margin {
	margin-bottom: 50px;
}

.heading {
	padding: 10px;
}

.md-15 {
	width: 15px;
	height: 15px;
	vertical-align: middle;
}

.md-20 {
	margin-left: 11px;
	margin-right: 11px;
}



.search-image {
	height: auto;
	width: 100%;
	background-image:
		url("https://images.unsplash.com/photo-1512149074996-e923ac45be6a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
	background-repeat: no-repeat;
	background-size: cover;
}

.input-group-text.green {
	background-color: #3b5684;
	border: 0px;
}

.invalid-feedback.md-6 {
	display: block;
}

.navbar-bg {
	background: linear-gradient(to right, #373b44, #4286f4);
}



.btn.btn-blue, .btn.btn-blue:hover, .btn.btn-blue:active, .btn.btn-blue:link
	{
	background-color: #263139;
	border-color: #263139;
	color: #ffffff;
}

.design
{
	cursor:pointer;
	color:blue !important;
}

.login-image {
	height: auto;
	width: 100%;
	background-image:
		url("https://images.unsplash.com/photo-1533153120331-1561eb33191d?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
	background-repeat: no-repeat;
	background-size: cover;
}  */


.invalid
{
    color:red;
    font-size:14px;
}



.red:hover {
	color: red;
}

body {
	color: #fff;
	background:pink;
	background-color: blueviolet;
}
.form-control {
	min-height: 41px;
	background: #fff;
	box-shadow: none !important;
	border-color: #e3e3e3;
}
.form-control:focus {
	border-color: #70c5c0;
}
.form-control, .btn {        
	border-radius: 2px;
}
.login-form {
	width: 350px;
	margin: 0 auto;
	padding: 100px 0 30px;	
	
}
.login-form form {
	color: #7a7a7a;
	border-radius: 2px;
	margin-bottom: 15px;
	font-size: 13px;
	background: #ececec;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	padding: 30px;	
	position: relative;	
}
.login-form h2 {
	font-size: 22px;
	margin: 35px 0 25px;
}
.login-form .avatar {
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
	top:-50px;
	width: 95px;
	height: 95px;
	border-radius: 50%;
	z-index: 9;
	background: #70c5c0;
	padding: 15px;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}
.login-form .avatar img {
	width: 100%;
}	
.login-form input[type="checkbox"] {
	margin-top: 2px;
}
.login-form .btn {        
	font-size: 16px;
	font-weight: bold;
	background: #70c5c0;
	border: none;
	margin-bottom: 20px;
}
.login-form .btn:hover, .login-form .btn:focus {
	background: #50b8b3;
	outline: none !important;
}    
.login-form a {
	color: #fff;
	text-decoration: underline;
}
.login-form a:hover {
	text-decoration: none;
}
.login-form form a {
	color: #7a7a7a;
	text-decoration: none;
}
.login-form form a:hover {
	text-decoration: underline;
}
